<header>
    <div class="container">

        <div class="container-left">
            <a routerLink="/" class="logo">Nane-Alexa</a>
            <a routerLink="/about">Despre Noi</a>
            <a routerLink="/products">Produse</a>
            <a routerLink="/how-to">Cum Comand</a>
            <a routerLink="/contact">Contact</a>
        </div>
        
            <nav>
                <ul>
                    <li><a routerLink="/login'">Login</a></li>
                    <li class="menu-container">
                            <a routerLink="/dashboard">Dragosss</a>
                            <div class="menu">
                                <a routerLink="/profile">Profile</a>
                                <a routerLink="/orders">Orders</a>
                                <a>Logout</a>
                            </div>
                    </li>
                    <li><a routerLink="/cart">Cart<span>(0)</span></a></li>
                </ul>
            </nav>
        

    </div>
</header>