<ul>
    <li *ngFor="let product of products">
        <a routerLink="product/{{ product.id }}">{{ product.name }}
            <img [src]="product.imageUrl" [alt]="product.name"/>
            <div class="content">
                <div class="color">Culoare: {{ product.color }}</div>
                <div class="size">Marime: {{ product.size }}</div>
            </div>
            <div class="product-item-footer">
                <span>tags: {{ product.tags }}</span>
                <div><span>{{ product.price | currency }}</span></div>
            </div>
        </a>
    </li>
</ul>